<% index = api_example_counter %>

<div class="content <%= index == 0 ? 'active' : '' %>" id="panel<%=index %>">
      <p><%= api_example.description || 'No description given' %></p>

      <h4 class="subheader">Recorded at</h4>
      <p><%= api_example.recorded_at.strftime("%Y-%m-%d %H:%M:%S UTC") %></p>

      <h4 class="subheader"><%= link_to 'Try with cURL', curl_api_example_path(api_example.id), id: "show-curl-#{api_example.id}", remote: true%></h4>
      <div id="curl-<%=api_example.id%>">
      </div>

      <h4 class="subheader">Request URL</h4>
      <% if api_example.requires_auth %>
        <strong class="label info">Requires Authorization</strong>
      <% end %>

      <pre class="panel">
<%= api_example.http_method %> <%= api_example.url -%>
      </pre>

      <% if api_example.query.present? %>
      <h4 class="subheader">Query Parameters</h4>
      <pre class="panel">
<% api_example.query.each_pair do |key, value| %>
<%= key %>: <%= value %>
<% end -%>
      </pre>
      <% end %>

      <h4 class="subheader"> Request Headers</h4>
      <pre class="panel">
<% api_example.request_headers_without_spyrest.each_pair do |key, value| %>
<%= key %>: <%= value %>
<% end %>
      </pre>

      <% if api_example.request_body.present? %>
      <h4 class="subheader"> Request Body</h4>
      <pre class="panel">
<%= api_example.request_body %>
      </pre>
      <% end %>

      <h4 class="subheader"> Response Headers</h4>
      <pre class="panel">
<% api_example.response_headers.each_pair do |key, value| %>
<%= key %>: <%= value %>
<% end %>
      </pre>

      <% if api_example.response_body.present? %>
      <h4 class="subheader"> Response Body</h4>
      <p class="info label"> Shortened for readability </p>
      <pre class="panel">
<%= api_example.prettified_response %>
      </pre>
      <% end %>

      <%= button_to api_example_path(api_example.id), class: 'button secondary', method: :delete, data: {confirm: 'Are you Sure?'} do %>
        <i class="fa fa-trash"></i> Delete this Example
      <% end %>

    </div>