<%= form_for(@api_example) do |f| %>
  <% if @api_example.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@api_example.errors.count, "error") %> prohibited this api_example from being saved:</h2>

      <ul>
      <% @api_example.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :host %><br>
    <%= f.text_field :host %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :http_method %><br>
    <%= f.text_field :http_method %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
