<h2><%= @api_action.name %></h2>

<% api_examples = @api_action.api_examples %>


<h3 class="subheader">Description</h3>
<div id="description">
  <%=raw markdown @api_action.description.try(:description) %>
</div>


<%= link_to '', id: 'edit-description-link' do %>
  <i class="fa fa-edit"></i> Edit Description
<% end %>

<div id="action-description-form-container" class="hide">

  <dl class="tabs" data-tab>
    <dd class="active"><a href="#edit-description">Write</a></dd>
    <dd><%= link_to 'Preview', "#preview", data: {path: preview_api_action_descriptions_path}, method: :post, remote: true, id: 'preview-button' %></dd>
  </dl>
  <div class="tabs-content">
    <div class="content active" id="edit-description">
      <%= form_for @api_action.description || ApiActionDescription.new_for_resource(@api_action), remote: true do |form| %>

        <%= form.hidden_field :api_host %>
        <%= form.hidden_field :api_version %>
        <%= form.hidden_field :api_resource %>
        <%= form.hidden_field :api_action %>

        <div class="row">
          <div class="small-12 large-6 columns">
            <label>
              Describe this action in markdown
              <%= form.text_area :description, placeholder: "Describe this action in markdown...", rows: 10 %>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="small-12 large-6 columns">
            <%= form.submit 'Update', class:"button", data: {disable_with: 'Updating...'} %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="content" id="preview">

    </div>
  </div>

</div>


<% if @api_action.query_parameters.present? %>
  <div>
    <h3 class="subheader">Query Parameters</h3>
    <table class="small-12 large-6">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Example values</th>
        </tr>
      </thead>
      <tbody>
        <% @api_action.query_parameters.each do |query_parameter| %>
          <tr>
            <td><code><%= query_parameter.name %></code></td>
            <td><%= query_parameter.type_name %></td>
            <td>
              <ul>
                <% query_parameter.example_values.each do |example_value|%>
                  <li><%= example_value %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>


<div>
  <h3 class="subheader">Examples</h3>
  <dl id="example-tabs" class="tabs vertical" data-tab>
    <% api_examples.each_with_index do |api_example, index| %>
      <dd class="<%= index == 0 && 'active'%>" >
        <%= link_to truncate(api_example.description, length: 30) || "Example #{index + 1}",  "#panel#{index}" %>
      </dd>
    <% end %>
  </dl>
  <div id="example-panels" class="tabs-content vertical">
    <%= render partial: 'api_examples/api_example', collection: api_examples, as: :api_example %>
  </div>
</div>

<script>
$(function(){
  new ApiActionDescriptionView({
    showHideLink: $('#edit-description-link'),
    formContainer: $('#action-description-form-container'),
    desciptionContainer: $('#description'),
    previewContainer: $('#preview'),
    previewButton: $('#preview-button')
  });
});
</script>