<h2><%= @api_action.name %></h2>

<% api_examples = @api_action.api_examples %>

<% if @api_action.query_parameters.present? %>

  <div>
    <h3>Query Parameters</h3>
    <table class="small-12">
      <thead>
        <tr>
          <th>Parameter name</th>
          <th>Type</th>
          <th>Example values</th>
        </tr>
      </thead>
      <tbody>
        <% @api_action.query_parameters.each do |query_parameter| %>
          <tr>
            <td><code><%= query_parameter.name %></code></td>
            <td><%= query_parameter.type_name %></td>
            <td>
              <ul>
                <% query_parameter.example_values.each do |example_value|%>
                  <li><%= example_value %></li>
                <% end %>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>


<div>
  <h3>Examples</h3>
  <dl id="example-tabs" class="tabs vertical" data-tab>
    <dd class="active">
      <a href="#panel1">Example 1</a>
    </dd>
    <% 2.upto(api_examples.count) do |index| %>
      <dd>
        <%=link_to "Example #{index}", "#panel#{index}",
          data: {example_index: index,
            load_path: api_example_path(index, api_host: @api_host.name,
              api_version: @api_version.name,
              api_resource: @api_resource.name,
              api_action: @api_action.name),

          }
        %>
      </dd>
    <% end %>
  </dl>
  <div id="example-panels" class="tabs-content vertical">
    <%= render partial: 'api_examples/api_example', collection: @api_action.api_examples, as: :api_example %>
  </div>
</div>