<h2>Examples</h2>

<% api_examples = @api_action.api_examples %>

<div>
  <dl class="tabs vertical" data-tab>
    <dd class="active"><a href="#panel1">Example 1</a></dd>
    <% 2.upto(api_examples.length) do |index| %>
      <dd><a href="#panel<%= index %>">Example <%= index %></a></dd>
    <% end %>
  </dl>
  <div class="tabs-content vertical">
    <% @api_action.api_examples.each_with_index do |api_example, index| %>
      <div class="content <%= index == 0 ? 'active' : '' %>" id="panel<%=index + 1 %>">
        <h3>Example <%= index + 1 %></h3>

        <p><%= api_example.description || 'No description given' %></p>

        <h3>Request URL</h3>
        <pre class="panel">
<%= api_example.http_method %> <%= api_example.url -%>
        </pre>

        <h3>Query Parameters</h3>
        <pre class="panel">
<% api_example.query.each_pair do |key, value| %>
<%= key %>: <%= value %>
<% end -%>
        </pre>

        <h3> Request Headers</h3>
        <pre class="panel">
<% api_example.request_headers.each_pair do |key, value| %>
<%= key %>: <%= value %>
<% end %>
        </pre>

        <h3> Request Body</h3>
        <pre class="panel">
<%= api_example.request_body %>
        </pre>

        <h3> Response Headers</h3>
        <pre class="panel">
<% api_example.response_headers.each_pair do |key, value| %>
  <%= key %>: <%= value %>
<% end %>
        </pre>

        <h3> Response Body</h3>
        <pre class="panel">
<%= JSON.pretty_generate JSON.parse api_example.response_body %>
        </pre>
      </div>
    <% end %>
  </div>
</div>