<!DOCTYPE html>
<html>
<head>
  <title>SpyREST</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr"%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'SpyREST', root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <li><%=link_to 'How it Works', how_it_works_path %></li>
        <li><%=link_to 'About', about_path%></li>
        <li><%=link_to 'GitHub', 'https://github.com/smsohan/api_through_ui'%></li>
      </ul>
    </section>
  </nav>

  <div class="row full-width">
    <div class="small-12 small-centered columns">
      <%= render_breadcrumbs %>
    </div>
  </div>

  <div class="row full-width">
    <div class="small-12 small-centered columns">
      <%= yield %>
    </div>
  </div>

  <script>
  $(document).foundation();
  </script>
</body>
</html>
