<!DOCTYPE html>
<html>
<head>
  <title>SpyREST - Beautiful auto generated REST API documentation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr"%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="<%= controller.class.to_s.underscore.gsub(/_controller$/, '')%>">

  <nav class="top-bar show-for-small-only" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1>SpyREST</h1>
        <% if write_enabled? %>
          <p class="muted-text">Supported by <%=link_to 'Mashape', 'https://www.mashape.com/' %></p>
        <% end %>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <%= render :partial => "layouts/menu" %>

  </nav>


  <header class="row full-width top-nav-container hide-for-small-only">
    <div class="medium-2 columns">
      <h1>SpyREST</h1>
      <p class="muted-text">Supported by <%=link_to 'Mashape', 'https://www.mashape.com/' %></p>
    </div>
    <div class="medium-4 columns"></div>
    <div class="medium-6 columns">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
        </ul>

        <%= render :partial => "layouts/menu" %>
      </nav>
    </div>
  </header>

  <div class="row full-width breadcumbs-row">
    <div class="small-12 small-centered columns">
      <%= render_breadcrumbs %>
    </div>
  </div>

  <div class="row full-width">
    <div class="small-12 small-centered columns">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </div>

  <div class="row full-width">
    <div class="small-12 small-centered columns">
      <%= yield %>
    </div>
  </div>

  <% if show_comments? %>
    <%= render partial: 'layouts/comments' %>
  <% end %>

  <footer class="text-center spaced">
    <% if write_enabled? %>
      <%= link_to 'https://www.mashape.com/' do %>
        <%= image_tag 'footer.png', class: 'footer-image' %>
      <% end %>
    <% end %>
  </footer>


</body>
</html>
