<!DOCTYPE html>
<html>
<head>
  <title>SpyREST - Beautiful auto generated REST API documentation</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "vendor/modernizr"%>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

  <div class="row full-width">
    <div class="small-2 columns">
      <%= link_to root_path, title: 'SpyREST' do %>
        <%= image_tag 'logo.png' %>
      <% end %>
    </div>
    <div class="small-8 columns"></div>
    <div class="small-2 columns">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li><%=link_to 'Docs', how_it_works_path %></li>
            <li><%=link_to 'GitHub', 'https://github.com/smsohan/api_through_ui'%></li>
            <% if user_signed_in? %>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Login", new_user_session_path unless current_user %></li>
            <% end %>
          </ul>
        </section>
      </nav>

    </div>
  </div>





  <div class="row full-width breadcumbs-row">
    <div class="small-12 small-centered columns">
      <%= render_breadcrumbs %>
    </div>
  </div>

  <div class="row full-width">
    <div class="small-12 small-centered columns">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </div>

  <div class="row full-width">
    <div class="small-12 small-centered columns">
      <%= yield %>
    </div>
  </div>

  <div class="row full-width">
    <div class="small-12 large-4 small-centered large-uncentered columns">
      <div id="disqus_thread"></div>
    </div>
  </div>

  <script type="text/javascript">
  var disqus_shortname = 'spyrest';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>


  <script>
  $(document).foundation();
  ga('send', 'pageview');
  </script>
</body>
</html>
